.calendarBox {
  width: 966px;
  height: 447px;
  background: #fff;
  position: fixed;
  top: 50%;
  left: 50%;
  margin-top: -220px;
  margin-left: -483px;
  z-index: 99999;
  -webkit-box-shadow: 0 0 10px #ccc;
  -moz-box-shadow: 0 0 10px #ccc;
  box-shadow: 0 0 10px #ccc;
  overflow: hidden;
  font-family: Microsoft YaHei;
  /*.calHoverBox*/
  /*.calPanel*/
}
.calendarBox .none {
  display: none;
}
.calendarBox .calHoverBox {
  position: absolute;
  z-index: 100;
  border: 1px solid #dddddd;
  -webkit-box-shadow: 0 0 10px #c6c6c6;
  -moz-box-shadow: 0 0 10px #c6c6c6;
  box-shadow: 0 0 10px #c6c6c6;
}
.calendarBox .calHoverBox .tipTopIn {
  position: absolute;
  z-index: 101;
  border-top: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid #ffffff;
  border-left: 10px solid transparent;
}
.calendarBox .calHoverBox .tipTopOut {
  position: absolute;
  z-index: 101;
  border-top: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid #dddddd;
  border-left: 10px solid transparent;
}
.calendarBox .calHoverBox .tipBottomIn {
  position: absolute;
  z-index: 101;
  border-top: 10px solid #fff;
  border-right: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-left: 10px solid transparent;
}
.calendarBox .calHoverBox .tipBottomOut {
  position: absolute;
  z-index: 101;
  border-top: 10px solid #dddddd;
  border-right: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-left: 10px solid transparent;
}
.calendarBox .calHoverBox .tipLeftIn {
  position: absolute;
  z-index: 101;
  border-top: 10px solid transparent;
  border-right: 10px solid #fff;
  border-bottom: 10px solid transparent;
  border-left: 10px solid transparent;
}
.calendarBox .calHoverBox .tipLeftOut {
  position: absolute;
  z-index: 101;
  border-top: 10px solid transparent;
  border-right: 10px solid #dddddd;
  border-bottom: 10px solid transparent;
  border-left: 10px solid transparent;
}
.calendarBox .calHoverBox .tipRightIn {
  position: absolute;
  z-index: 101;
  border-top: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-left: 10px solid #fff;
}
.calendarBox .calHoverBox .tipRightOut {
  position: absolute;
  z-index: 101;
  border-top: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-left: 10px solid #dddddd;
}
.calendarBox .calHoverBox ul {
  list-style: none;
  background-color: #ffffff;
  padding: 0px;
  margin: 0px;
}
.calendarBox .calHoverBox ul li {
  border-bottom: 1px solid #ddd;
  padding: 10px 12px;
  position: relative;
  width: 355px;
}
.calendarBox .calHoverBox ul li a {
  display: block;
  position: relative;
  text-decoration: none;
  outline: 0;
  color: #666666;
}
.calendarBox .calHoverBox ul li a:hover {
  text-decoration: none;
  outline: 0;
  color: #666666;
}
.calendarBox .calHoverBox ul li a:active {
  text-decoration: none;
  outline: 0;
  color: #666666;
}
.calendarBox .calHoverBox ul li a .calLeftCont {
  width: 246px;
  float: left;
}
.calendarBox .calHoverBox ul li a .calLeftCont span {
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.calendarBox .calHoverBox ul li a .calLeftCont span:last-child {
  font-size: 12px;
  text-indent: 7px;
  margin-top: 2px;
  color: #999999;
}
.calendarBox .calHoverBox ul li a .calLeftCont span:first-child {
  font-size: 16px;
}
.calendarBox .calHoverBox ul li a .calRightCont {
  float: right;
  color: #ff5c00;
}
.calendarBox .calHoverBox ul li a .calRightCont em {
  font-style: normal;
  font-size: 26px;
  margin-right: 3px;
  margin-left: -3px;
}
.calendarBox .calHoverBox ul li a .calRightCont i {
  font-style: normal;
  color: #999999;
}
.calendarBox .calHoverBox ul li a:after {
  display: block;
  content: "clear";
  height: 0;
  clear: both;
  overflow: hidden;
  visibility: hidden;
}
.calendarBox .calPanel {
  width: 950px;
  height: 431px;
  margin: 8px;
  background-color: #ddd;
  /*.calTitle*/
  /*.calContent*/
}
.calendarBox .calPanel .calTitle {
  height: 45px;
  width: 950px;
  /*span*/
}
.calendarBox .calPanel .calTitle span {
  display: inline-block;
  width: 127px;
  height: 45px;
  line-height: 45px;
  background-color: #38414c;
  color: #ffffff;
  text-align: center;
  vertical-align: middle;
  font-size: 14.6px;
  /*&.calFirst*/
}
.calendarBox .calPanel .calTitle span.calFirst {
  width: 61px;
  height: 45px;
}
.calendarBox .calPanel .calContent {
  width: 948px;
  height: 383px;
  margin: 2px auto 0px;
  background-color: #fff;
  /*.activeÑ¡ÖÐÔÂ·Ý×´Ì¬*/
  /*.calMonths*/
  /*.calDays*/
}
.calendarBox .calPanel .calContent .active {
  background-color: #5bb8e3!important;
  color: #ffffff!important;
}
.calendarBox .calPanel .calContent .calTurn {
  /*        position: absolute;
        width: 59px;
        height: 383px;*/
}
.calendarBox .calPanel .calContent .calTurn .preMonth {
  background: url(images/calIcons.png) no-repeat;
  background-position: 0px -34px;
  width: 32px;
  height: 15px;
  position: absolute;
  top: 73px!important;
  left: 22px;
  cursor: default;
  overflow: hidden;
  outline: 0;
}
.calendarBox .calPanel .calContent .calTurn .nextMonth {
  background: url(images/calIcons.png) no-repeat;
  background-position: 0px -88px;
  left: 22px;
  width: 32px;
  height: 15px;
  position: absolute;
  bottom: 28px!important;
  cursor: pointer;
  overflow: hidden;
  outline: 0;
}
.calendarBox .calPanel .calContent .calMonths {
  float: left;
  background-color: #ddd;
  font-size: 14.6px;
  /*.month*/
}
.calendarBox .calPanel .calContent .calMonths .month {
  width: 59px;
  height: 191px;
  line-height: 191px;
  text-align: center;
  background-color: #ffffff;
  color: #999;
}
.calendarBox .calPanel .calContent .calMonths .month:last-child {
  margin-top: 1px;
}
.calendarBox .calPanel .calContent .oneMonth {
  float: left;
  width: 59px;
  height: 383px;
  line-height: 383px;
  text-align: center;
  background-color: #ffffff;
  color: #999;
  font-size: 14.6px;
}
.calendarBox .calPanel .calContent .calDays {
  position: relative;
  float: right;
  width: 890px;
  margin-top: -1px;
  margin-right: -1px;
}
.calendarBox .calPanel .calContent .calDays table {
  margin: 0;
  padding: 0;
  border-spacing: 0;
  border-collapse: collapse;
  width: 100%;
  height: 385px;
}
.calendarBox .calPanel .calContent .calDays table tr .weekend {
  background-color: #f1f9ff;
}
.calendarBox .calPanel .calContent .calDays table tr .today {
  background-color: #5bb8e3;
  color: #ffffff!important;
}
.calendarBox .calPanel .calContent .calDays table tr .noData {
  width: 127px;
  height: 61px;
  font-family: Microsoft YaHei;
  border: 1px solid #dddddd;
  cursor: default;
}
.calendarBox .calPanel .calContent .calDays table tr .noData .date {
  color: #ddd;
  font-size: 16px;
  height: 21px;
  display: block;
  text-align: left;
  overflow: hidden;
  padding: 0 6px;
}
.calendarBox .calPanel .calContent .calDays table tr .noData .date .data {
  color: #999;
  font-size: 16px;
  display: inline-block;
}
.calendarBox .calPanel .calContent .calDays table tr .noData .date .thisDay {
  display: none;
}
.calendarBox .calPanel .calContent .calDays table tr .noData .price {
  display: block;
  height: 21px;
}
.calendarBox .calPanel .calContent .calDays table tr .noData .srcDest {
  display: block;
  height: 18px;
}
.calendarBox .calPanel .calContent .calDays table tr .noData.today {
  background-color: #5bb8e3;
}
.calendarBox .calPanel .calContent .calDays table tr .noData.today .date .data {
  color: #ffffff;
}
.calendarBox .calPanel .calContent .calDays table tr .noData.today .date .thisDay {
  color: #ffffff;
  font-size: 12px;
  display: inline-block;
  background-color: #2f80a6;
  width: 31px;
  height: 16px;
  text-align: center;
  margin-top: -2px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 5px;
  border-radius: 2px;
}
.calendarBox .calPanel .calContent .calDays table tr .hasData {
  width: 127px;
  height: 61px;
  font-family: Microsoft YaHei;
  border: 1px solid #dddddd;
  cursor: pointer;
  /*              span{
                padding: 0 6px;
              }*/
}
.calendarBox .calPanel .calContent .calDays table tr .hasData .date {
  color: #999;
  font-size: 16px;
  height: 21px;
  display: block;
  text-align: left;
  overflow: hidden;
  padding: 0 6px;
}
.calendarBox .calPanel .calContent .calDays table tr .hasData .date .data {
  color: #999;
  font-size: 16px;
  display: inline-block;
}
.calendarBox .calPanel .calContent .calDays table tr .hasData .date .thisDay {
  display: none;
  /*                  color: #ffffff;
                  font-size: 12px;
                  background-color: #2f80a6;
                  width: 31px;
                  height: 16px;
                  text-align: center;
                  margin-top: -2px;
                  -webkit-border-radius: 2px;
                  -moz-border-radius: 5px;
                  border-radius: 2px;*/
}
.calendarBox .calPanel .calContent .calDays table tr .hasData .price {
  text-align: right;
  display: block;
  font-size: 12px;
  height: 21px;
  overflow: hidden;
  color: #ff5c00;
  padding: 0 6px;
}
.calendarBox .calPanel .calContent .calDays table tr .hasData .price em {
  font-style: normal;
  font-size: 16px;
  margin-right: 3px;
  margin-left: -3px;
}
.calendarBox .calPanel .calContent .calDays table tr .hasData .price i {
  font-style: normal;
  color: #999999;
}
.calendarBox .calPanel .calContent .calDays table tr .hasData .srcDest {
  text-align: right;
  display: block;
  color: #333;
  font-size: 12px;
  height: 18px;
  overflow: hidden;
  padding: 0 6px;
}
.calendarBox .calPanel .calContent .calDays table tr .hasData.today {
  background-color: #5bb8e3;
}
.calendarBox .calPanel .calContent .calDays table tr .hasData.today .date .data {
  color: #ffffff;
}
.calendarBox .calPanel .calContent .calDays table tr .hasData.today .date .thisDay {
  color: #ffffff;
  font-size: 12px;
  display: inline-block;
  background-color: #2f80a6;
  width: 31px;
  height: 16px;
  text-align: center;
  margin-top: -2px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 5px;
  border-radius: 2px;
}
.calendarBox .calPanel .calContent .calDays table tr .hasData.today .price {
  color: #ffffff;
}
.calendarBox .calPanel .calContent .calDays table tr .hasData.today .price i {
  font-style: normal;
  color: #ffffff;
}
/*.calendarBox*/
